spring:
  application:
    name: greenhouse-kt
  datasource:
    url: jdbc:postgresql://${GREENHOUSE_DATABASE_URL:localhost:5432/greenhouse-kt}
    username: ${GREENHOUSE_DB_USER}
    password: ${GREENHOUSE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

resilience4j:
  circuitbreaker:
    instances:
      esp-dht:
        register-health-indicator: true
        sliding-window-size: 8
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30000

greenhouse:
  jwt:
    secret: ${GREENHOUSE_JWT_SECRET}
    expiration-seconds: 3600
  esp:
    base-url: http://192.168.18.26:8080/api
    http-timeout-ms: 3000


management:
  endpoints:
    web:
      exposure:
        include: 'health, circuitbreakers'