spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: 'health,circuitbreakers'