spring:
  application:
    name: greenhouse-kt
  datasource:
    url: jdbc:postgresql://${DATABASE_URL:localhost:5432/greenhouse-kt}
    username: ${GREENHOUSE_DB_USER}
    password: ${GREENHOUSE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true